.Error {
    text-align: center;
    color: #dc3545;
    margin: 0;
}

.Underlined {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.OrderType {
    overflow: auto;
    text-align: center;
    padding: 0px !important;
    margin-top: 4px;
}

.BuySellToggle {
    overflow: auto;
    margin: auto;
    max-width: 200px;
}

.BuySellToggle div:hover {
    cursor: pointer;
}

.BuySellSelectedToggle {
    text-decoration: underline;
    color: #0D47A1;
}

.OrderType div {
    width: 100px;
    padding: 0 !important;
}

.OrderType div:hover {
    text-decoration: underline;
    cursor: pointer;
}

.OrderTypeSelectedToggle {
    font-size: 0.9rem;
    text-decoration: underline;
    color: #0D47A1;
}

.OrderTypeToggle {
    font-size: 0.9rem;
}

.LongToggle:hover {
    color: #5cb85c;
    border-bottom: 2px solid #5cb85c !important;
}

.ShortToggle:hover {
    color: #dc3545;
    border-bottom: 2px solid #dc3545 !important;
}

.LongShortToggle {
    overflow: auto;
    text-align: center;
    font-size: 1.2rem;
}

.LongShortToggle div {
    width: 50%;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #B2B2B2;
    border-bottom: 2px solid #B2B2B2;
}

.LongShortToggle div:hover {
    cursor: pointer;
}

.LongSelectedToggle {
    color: #5cb85c !important;
    border-bottom: 2px solid #5cb85c !important;
    padding-bottom: 8px;
}

.ShortSelectedToggle {
    color: #dc3545 !important;
    border-bottom: 2px solid #dc3545 !important;
    padding-bottom: 8px;
}

.OrderForm {
    overflow: auto;
    margin: 16px 0;
}

.OrderFormLocked {
    overflow: auto;
    padding-top: 32px;
    text-align: center;
}

.OrderFormLocked button {
    background-color: #888 !important;
}

.OrderFormLocked button:hover {
    background-color: #888 !important;
    border-color: #888 !important;
    cursor: auto;
}

.OrderForm div {
    overflow: auto;
}

.OrderForm input:focus {
    outline: none;
}

.OrderFormInput {
    float: left;
    width: 100%;
}

.OrderForm input {
    width: 100%;
    height: 40px;
    padding: 0 16px;
    border: 1px solid #707070;
    font-size: 1.3rem;
}

.FormRow {
    margin: 16px auto;
}

.FormRow p {
    margin-left: 16px;
    font-size: 1rem;
    color: #bbb;
}

.FormRowLabel {
    float: right;
    margin-top: -30px;
    margin-right: 16px;
}

.OrderFormButton {
    margin: auto;
    margin-top: 16px;
}

.OrderFormButton button {
    width: 100%;
}

.OrderContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .42);
    background: white;
    margin: 0 auto 32px auto;
    padding: 16px 32px;
    text-align: left;
}

.OrderContainer > div {
    margin-left: auto;
    margin-right: auto;
    max-width: 464px;
}

.Hidden {
    display: none;
}

.OrderForm button {
    cursor: pointer;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .42);
    background: #0E0E0E;
    color: #FFFFFF;
    border-radius: 16px;
    font-size: 1rem;
    height: 40px;
    padding: 0 16px;
    margin-bottom: 6px;
}

.OrderForm button:hover {
    background-color: #419641;
    border-color: #398439;
}

.OrderForm button:disabled {
    color: #d3d3d3;
    background-color: #777;
    border-color: #777;
}

.PriceSlider {

}

.PriceSlider input::-moz-range-track {
    background-color: #BCBCBC;
}

.PriceSlider input {
    border: 0 !important;
    padding: 0;
}

.ConfirmContainer {

}

.ConfirmContainer p {
    font-size: 0.9rem;
}

.ConfirmLeft {
    float: left;
    width: 50%;
}

.ConfirmRight {
    float: right;
    width: 50%;
    text-align: right;
}

.Title {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
}

.CenterLoading {
    width: 64px;
    margin: auto;
}

@media (max-width: 510px) {

    .OrderForm input {
        width: 300px;
    }

    .OrderContainer > div {
        width: 300px;
    }

    .OrderForm {
        width: auto;
    }

    .BuySellToggle {
        width: auto;
    }

    .OrderContainer {
        margin: 0;
    }

    .LongShortToggle {
        width: auto;
    }
}

@media (max-width: 900px) {
    .OrderContainer {
        margin-left: auto;
        margin-right: auto;
    }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

