.Error {
    text-align: center;
    color: #dc3545;
    margin: 0;
}

.Underlined {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.OrderType {
    overflow: auto;
    text-align: center;
    padding: 0px !important;
    margin-top: 4px;
}

.BuySellToggle {
    overflow: auto;
    margin: auto;
    max-width: 200px;
}

.BuySellToggle div:hover {
    cursor: pointer;
}

.BuySellSelectedToggle {
    text-decoration: underline;
    color: #0D47A1;
}

.OrderType div {
    width: 100px;
    padding: 0 !important;
}

.OrderType div:hover {
    text-decoration: underline;
    cursor: pointer;
}

.OrderTypeSelectedToggle {
    font-size: 0.9rem;
    text-decoration: underline;
    color: #0D47A1;
}

.OrderTypeToggle {
    font-size: 0.9rem;
}

.LongToggle:hover {
    color: #5cb85c;
    border-bottom: 2px solid #5cb85c !important;
}

.ShortToggle:hover {
    color: #dc3545;
    border-bottom: 2px solid #dc3545 !important;
}

.LongShortToggle {
    overflow: auto;
    text-align: center;
    font-size: 1.2rem;
}

.LongShortToggle div {
    width: 50%;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 2px solid white;
}

.LongShortToggle div:hover {
    cursor: pointer;
}

.LongSelectedToggle {
    background: #0E0E0E;
    color: #5cb85c;
    border-bottom: 2px solid #5cb85c !important;
    padding-bottom: 8px;
}

.ShortSelectedToggle {
    color: #dc3545;
    border-bottom: 2px solid #dc3545 !important;
    padding-bottom: 8px;
}

.OrderForm {
    overflow: auto;
    margin: 16px 0;
}

.OrderFormLocked {
    overflow: auto;
    padding: 32px;
    text-align: center;
}

.OrderForm div {
    overflow: auto;
}

.OrderForm input:focus {
    outline: none;
}

.OrderFormInput {
    float: left;
    width: 100%;
}

.OrderForm input {
    height: 32px;
    border: 0;
    background: #0E0E0E;
    color: white;
    border-bottom: 1px solid white;
    width: 100%;
    font-size: 1.3rem;
}

.FormRow {
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

.FormRow p {
    font-size: 0.9rem;
    color: #bbb;
}

.FormRowLabel {
    float: right;
    margin-top: -24px;
}

.OrderFormButton {
    margin: auto;
    margin-top: 16px;
}

.OrderFormButton button {
    width: 100%;
}

.OrderContainer {
    max-width: 420px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .42);
    color: white;
    background: #0E0E0E;
    margin: 0 auto 16px auto;
    padding: 16px 32px;
    border-radius: 4px;
    text-align: left;
}

.Hidden {
    display: none;
}

.OrderForm button {
    height: 40px;
    color: #fff;
    background-color: #5cb85c;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding: 0 12px;
}

.OrderForm button:hover {
    background-color: #419641;
    border-color: #398439;
}

.OrderForm button:disabled {
    background-color: rgba(65, 150, 65, 0.75);
    border-color: #398439;
}

.PriceSlider {

}

.ConfirmContainer {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 8px;
}

.ConfirmContainer p {
    font-size: 0.9rem;
}

.ConfirmLeft {
    float: left;
    width: 50%;
}

.ConfirmRight {
    float: right;
    width: 50%;
    text-align: right;
}

@media (max-width: 510px) {
    .OrderForm {
        width: auto;
    }

    .BuySellToggle {
        width: auto;
    }

    .OrderContainer {
        margin: 0;
    }

    .LongShortToggle {
        width: auto;
    }
}

@media (max-width: 900px) {
    .OrderContainer {
        margin-left: auto;
        margin-right: auto;
    }
}