.AdvancedContainer {
    padding: 32px;
    overflow: auto;
    background: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    text-align: center;
}

.AdvancedLoading {
    margin: auto;
    text-align: center;
}

.OrderConfirm {

}

.LeftPanel {
    float: left;
    width: 420px;
}

.MiddlePanel {
    float: left;
    margin-left: 32px;
    margin-right: 32px;
    flex: 1;
    max-width: 800px;
    min-width: 500px;
}

.RightPanel {
    float: right;
    width: 420px;
}

.MarketInfoContainer {

}

.PriceChartContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .42);
    border: 1px solid #FFFFFF;
    margin-bottom: 32px;
    background: white;
}

.DepthChartContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .42);
    border: 1px solid #FFFFFF;
    margin-bottom: 32px;
    background: white;
}

.OrderBookContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .42);
    border: 1px solid #FFFFFF;
    margin-bottom: 32px;
    background: white;
}

.OrderHistoryContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .42);
    border: 1px solid #FFFFFF;
    margin-bottom: 32px;
    background: white;
}

.YourOrdersContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .42);
    border: 1px solid #FFFFFF;
    margin-bottom: 32px;
    background: white;
    padding: 0 32px;
}

.PanelTitle {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

@media (min-width: 1275px) and (max-width: 1475px) {
    .LeftPanel {
        max-width: 364px;
        min-width: 300px;
    }

    .RightPanel {
        max-width: 320px;
        min-width: 260px;
    }
}

@media (min-width: 1023px) and (max-width: 1275px) {
    .LeftPanel {
        min-width: 420px;
    }

    .MiddlePanel {
        margin-right: 0
    }

    .RightPanel {
        width: auto;
    }

    .RightPanel > div {
        min-width: 420px;
        float: left;
    }

    .OrderBookContainer {
        margin-right: 32px;
    }
}

@media (min-width: 916px) and (max-width: 1023px) {
    .LeftPanel {
        max-width: 320px;
        min-width: 260px;
    }

    .MiddlePanel {
        margin-right: 0
    }

    .RightPanel {
        max-width: 320px;
        min-width: 260px;
    }
}

@media (max-width: 916px) {

    .LeftPanel {
        min-width: 420px;
        margin: auto;
    }

    .MiddlePanel {
        margin-left: 0;
        margin-right: 0;
    }

    .RightPanel {
        min-width: 420px;
        margin: auto;
    }
}

@media (max-width: 564px) {

    .AdvancedContainer {
        padding: 0;
        padding-top: 32px;
    }

    .MiddlePanel {
        min-width: 300px;
    }
}

@media (max-width: 420px) {

    .LeftPanel {
        max-width: 320px;
        min-width: 260px;
    }

    .RightPanel {
        max-width: 320px;
        min-width: 260px;
    }
}
