.App {

}

.AppContainer {

}

.TopContainer {
  overflow: auto;
  max-width: 644px;
  margin-left: 32px;
}

.SplashContainer {
  overflow: auto;
}

.LeftPanel {
  background: url('https://res.cloudinary.com/klowdstore/image/upload/v1550097457/background-circles_kbtxw6.png') no-repeat;
  background-position-y: -150px;
  background-size: contain;
  width: calc(100% - 430px);
  min-width: 500px;
  overflow: auto;
  float: left;
}

.RightPanel {
  float: right;
}

@media (max-width: 1144px) {
  .LeftPanel {
    width: 100%;
  }

  .RightPanel {
    float: left;
  }

}

@media (max-width: 1334px) {
  .LeftPanel {

  }
}

