.App {

}

.AppContainer {
  overflow: auto;
}

.TopContainer {
  overflow: auto;
  max-width: 644px;
  margin-left: auto;
  margin-right: auto;
}

.SplashContainer {
  overflow: auto;
}

.LoadingContainer {
  text-align: center;
  margin: 64px auto;
}

.LeftPanel {
  background: url('https://res.cloudinary.com/klowdstore/image/upload/v1550097457/background-circles_kbtxw6.png') no-repeat;
  background-position-y: -150px;
  background-size: contain;
  width: calc(100% - 430px);
  min-width: 500px;
  overflow: auto;
  float: left;
}

.RightPanel {
  float: right;
}

.Disabled {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  overflow: auto;
  position: absolute;
  z-index: 3;
}

.NoScroll {
  overflow: hidden;
}

.NavDrawerHidden {
  display: none;
}

:global .slide-appear,
:global .slide-enter {
  margin-left: -340px;
  transition: 0.5s ease;
}

:global .slide-appear.slide-appear-active,
:global .slide-enter.slide-enter-active {
  margin-left: 0px;
}

:global .slide-leave {
  margin-left: 0px;
}

:global .slide-leave.slide-leave-active {
  margin-left: -340px;
  transition: 0.3s ease;
}

@media (max-width: 517px) {
  .LeftPanel {
    width: auto;
    min-width: auto;
    background-size: auto;
  }

  .RightPanel {
    float: left;
  }

  .TopContainer {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 708px) {
  .TopContainer {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (max-width: 1144px) {
  .LeftPanel {
    width: 100%;
  }

  .RightPanel {
    float: left;
    width: 100%;
  }

}

@media (max-width: 1334px) {
  .LeftPanel {

  }
}
