.Container {
    margin: 64px auto;
    max-width: 700px;
    padding: 0 32px;
    min-height: 400px;
}

.FAQTitle {
    font-size: 2rem;
    font-weight: 700;
}

.Question {
    margin-top: 16px;
    margin-bottom: 16px;
}

.Title {
    font-size: 1.2rem;
    font-weight: 700;
}

.Body {

}