.Close {
    cursor: pointer;
    width: 40px;
    height: 40px;
    float: right;
    color: white;
    background: black;
    border-radius: 100%;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -12px;
    margin-right: -12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .42);
}

.Onboarding {
    background: rgba(0, 0, 0, 0.8);
    padding-top: 192px;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 3;
}

.Popup {
    background: #ffffff;
    margin: auto;
    padding: 32px;
    margin-bottom: 256px;
    width: 400px;
    text-align: center;
    position: relative;
}
