.Close {
    cursor: pointer;
    text-decoration: underline;
    padding: 8px;
    width: 60px;
    float: right;
}

.Onboarding {
    background: #f3f3f3;
    border-radius: 4px;
    margin: 32px;
    padding: 32px;
    margin-bottom: 256px;
    display: inline-block;
}

.Onboarding > div {
    clear: both;
}

