.DetailInfo {
    margin-bottom: 32px;
}

.Separator {
    background: white;
    height: 1px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.Card {
    max-width: 420px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .42);
    color: white;
    background: #0E0E0E;
    margin: 0 auto 16px auto;
    padding: 16px 32px;
    border-radius: 4px;
    text-align: left;
}

.Card:hover {
    cursor: pointer;
}

.Left {
    float: left;
}

.Right {
    float: right;
    text-align: right;
}

.Trading {
    overflow: auto;
    font-size: 0.7rem;
}

.TradingFigure {
    font-size: 0.9rem;
}

.Expires {
    font-size: 0.7rem;
}

.Question {
    font-size: 1.5rem;
}

.Profit {
    color: #5cb85c
}

.Loss {
    color: #dc3545
}

@media (max-width: 680px) {
    .QuestionCol {
        width: 60%;
        padding-right: 4px;
    }

    .ExpiredCol {
        width: 20%;
    }

    .ResolutionCol {
        width: 20%;
    }
}