.DetailInfo {
    margin-bottom: 32px;
}

.Separator {
    background: white;
    height: 1px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.Card {
    color: rgba(176, 188, 204, 1);
    background: #0E0E0E;
    padding: 16px;
    max-width: 500px;
    text-align: left;
}

.Card:hover {
    cursor: pointer;
}

.Left {
    float: left;
}

.Right {
    float: right;
}

.Trading {
    overflow: auto;
    font-size: 0.7rem;
}

.TradingFigure {
    font-size: 0.9rem;
}

.Expires {
    font-size: 0.7rem;
}

.Question {
    font-size: 1rem;
}

@media (max-width: 680px) {
    .QuestionCol {
        width: 60%;
        padding-right: 4px;
    }

    .ExpiredCol {
        width: 20%;
    }

    .ResolutionCol {
        width: 20%;
    }
}

@media (max-width: 870px) {
    .Card {
        margin: 0 16px;
        margin-bottom: 16px;
    }
}
