.HistoryContainer {
    margin-bottom: 8px;
}

.HistoryHeader {
    overflow: auto;
    color: rgba(176, 188, 204, .75);
    font-size: 0.9rem;
}

.HistoryHeader div {
    width: 25%;
    float: left;
}

.HistoryHeader div:nth-child(3) {
    width: 50%;
}

.HistoryRows {
    overflow: auto;
    margin-bottom: 8px;
    max-height: 300px;
    overflow-y: scroll;
}

.HistoryRow {
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.75rem;
}

.HistoryRow > div {
    width: 25%;
    float: left;
}

.HistoryRow > div:nth-child(3) {
    width: 50%;
}
