.OrderBookContainer {

}

.OrderBookContainer::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.OrderBookHeader {
    overflow: auto;
    font-size: 0.9rem;
}

.NoOrders {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 0.75rem;
}

.OrdersContainer {
    max-height: 370px;
    overflow-y: scroll;
}

.OrderBookHeader div {
    width: 50%;
    float: left;
}

.Buys, .Sells {
    min-height: 180px;
}

.Spread {
    height: 4px;
    background: rgba(176, 188, 204, .75);
}

.Amount {

}

.BuyRow {
    color: #5cb85c;
}

.BuyRow > div, .SellRow > div {
    font-size: 0.8rem;
    width: 50%;
    float: left;
    cursor: pointer;
}

.BuyRow, .SellRow {
    overflow: auto;
}

.BuyRow:hover, .SellRow:hover {
    background: #F2F2F2;
}

.BuyRow > div {
    color: #5cb85c;
}

.SellRow > div {
    color: #dc3545
}

.SellRow {
    color: #5cb85c;
}
