.OrderBookContainer {

}

.OrderBookHeader {
    overflow: auto;
    color: rgba(176, 188, 204, .75);
    font-size: 0.9rem;
}

.OrderBookHeader div {
    width: 50%;
    float: left;
}

.Buys {
    height: 100px;
    overflow-y: scroll;
}

.Sells {
    height: 100px;
    overflow-y: scroll;
}

.Spread {
    height: 4px;
    background: rgba(176, 188, 204, .75);
}

.Amount {
    color: white !important;
}

.BuyRow {
    color: #5cb85c;
}

.BuyRow > div, .SellRow > div {
    font-size: 0.8rem;
    width: 50%;
    float: left;
    cursor: pointer;
}

.BuyRow, .SellRow {
    overflow: auto;
}

.BuyRow:hover, .SellRow:hover {
    background: #444444;
}

.BuyRow > div {
    color: #5cb85c;
}

.SellRow > div {
    color: #dc3545
}

.SellRow {
    color: #5cb85c;
}

