.HistoryContainer {
    margin-bottom: 8px;
}

.HistoryHeader {
    overflow: auto;
    color: rgba(176, 188, 204, .75);
    font-size: 0.9rem;
}

.HistoryHeader div {
    width: 25%;
    float: left;
}

.HistoryHeader div:nth-child(3) {
    width: 50%;
}

.HistoryRows {
    overflow: auto;
    margin-bottom: 8px;
    max-height: 284px;
    overflow-y: scroll;
    background: rgba(0, 0, 0, .6);
}

.HistoryRows::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #444;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.HistoryRow {
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.75rem;
}

.HistoryRow > div {
    width: 25%;
    float: left;
}

.HistoryRow > div:nth-child(3) {
    width: 50%;
}
