.ChartContainer {
    overflow: hidden;
}

.ChartContainer > div {
    margin-bottom: -32px;
}

:global(.highcharts-scrollbar) {
    display: none;
}

.PanelTitle {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 16px;
}

.ChartLength {
    float: left;
    margin-left: 12px;
    margin-top: 4px;
}

.ChartLength p {
    float: left;
}

.ChartInterval {
    float: right;
    margin-right: 12px;
    margin-top: 4px;
}

.ChartInterval p {
    float: right;
}

.ChartLength p, .ChartInterval p {
    font-size: 0.75rem;
    padding: 4px;
}

.ChartLength p:hover, .ChartInterval p:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    background: #F2F2F2;
}

.Buttons {
    background: white;
    width: 100%;
    margin: -1px;
}

.Buttons td {
    width: 33%;
    text-align: center;
}

.ButtonSelected {
    font-weight: bold;
    text-decoration: underline;
}

@media (max-width: 480px) {
    .ChartInterval {
        padding-right: 16px;
        width: 100px;
    }
}
