.Container {
    padding: 32px;
    margin: auto;
    text-align: center;
    min-height: 400px;
}

.ChannelRow {

}

.ChannelHeader {
    width: 33%;
    float: left;
}

.Export {
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .42);
    background: #0E0E0E;
    color: #FFFFFF;
    border-radius: 16px;
    font-size: 1rem;
    height: 40px;
    padding: 0 16px;
    width: 160px;
    margin: 32px;

}
