body {
    font-family: 'Work Sans';
    background: #F2F2F2;
}

p {
    margin-bottom: 0;
}

:global(.left) {
    float: left;
}

:global(.right) {
    float: right;
}

:global(.clear) {
    clear:both;
}

:global(.clearfix) {
    overflow: auto;
}

:global(.highcharts-credits) {
    display: none !important;
}
