.Account {
    cursor: pointer;
    margin-top: 4px;
    font-size: 16px;
}

.Account small {
    float: right;
    margin-top: 8px;
}

.Account:hover {
    color: #FDD835;
}

.Account canvas {
    float: left;
    border-radius: 100%;
    margin-right: 4px;
    border: 2px solid white;
}

.Account canvas:hover {
    border: 2px solid #FDD835;
}

.Login {
    cursor: pointer;
    padding: 8px 12px;
    border: 2px solid white;
    border-radius: 4px;
    max-width: 68px;
    font-weight: 500
}

.Login:hover {
    color: #FDD835;
    font-weight: bold;
}

.Loading {
    height: 20px;
    margin-top: -8px;
}

.Hidden {
    display: none;
}

.Dropdown {
    background: #ffffff;
    border-top: 1px solid #444;
    position: absolute;
    margin-top: 50px;
    right: 0;
}

.DropdownRow {
    padding: 8px;
    background: #ffffff;
    border: 1px solid #444;
    border-top: 0;
    width: 134px;
}

.DropdownRow:hover {
    color: #FFEB3B;
    cursor: pointer;
}

.DropdownRow a {
    color: #0E0E0E;
}

.DropdownRow a:hover {
    color: #FFEB3B;
    cursor: pointer;
}