.AmoveoExchangeLink {
    text-align: center;
}

.AmoveoExchangeCTA {
    color: white;
    cursor: pointer;
    box-shadow: unset;
    text-shadow: unset;
    font-size: 16px;
    margin-bottom: 0;
}

.AmoveoExchangeCTA:hover {
    color: #FFEB3B;
    cursor: pointer;
}

.AmoveoExchangeLogo {
    color: #20bcc5;
    cursor: default;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 700;
    font-size: 11px;
}