.LanguagePicker {
    margin-top: 4px;
}

.LanguagePicker img {
    background: #fff;
    border-radius: 100%;
    height: 32px;
    float: left;
    margin-right: 8px;
}

.LanguagePicker p {
    margin-top: 4px;
    float: left;
}

.Selected {

}

.SelectedRow:hover, .UnselectedRow:hover {
    color: #FFEB3B;
    cursor: pointer;
}

.Unselected {
    position: absolute;
    margin-top: 46px;
}

.Unselected > div {
    width: 134px;
}

.UnselectedRow {
    padding: 8px;
    background: #000000;
    margin-left: -9px;
    float: left;
    width: 134px;
}

.Hidden {
    display: none;
}