.LanguagePicker {
    margin-top: 4px;
}

.LanguagePicker img {
    background: #ffffff;
    border-radius: 100%;
    height: 32px;
    float: left;
    margin-right: 8px;
}

.LanguagePicker p {
    margin-top: 4px;
    float: left;
}

.Selected {

}

.SelectedRow:hover, .UnselectedRow:hover {
    color: #FFEB3B;
    cursor: pointer;
}

.Unselected {
    position: absolute;
    margin-top: 46px;
}

.Unselected > div {
    width: 134px;
    border-top: 1px solid #444;
}

.UnselectedRow {
    padding: 8px;
    float: left;
    width: 134px;
    background: #ffffff;
    border: 1px solid #444;
    border-top: 0;
    margin-left: 0;
    font-weight: 400;
}

.Hidden {
    display: none;
}