.Logo {
    padding-top: 4px;
    overflow: auto;
    width: 254px;
}

.Logo img {
    height: 42px;
    float: left;
    margin-right: 8px;
}

.Light {
    color: #ffffff !important;
    font-size: 24px !important;
    margin-top: 2px !important;
}

.Logo p {
    color: #0E0E0E;
    font-size: 2rem;
    text-shadow: unset;
    float: left;
    margin-top: -4px;
}

.Logo a {
    display: block !important;
}

@media (max-width: 787px) {
    .Logo {
        padding-bottom: 8px;
    }
}

@media (max-width: 421px) {
    .Logo {
        padding-bottom: 8px;
        width: 234px;
    }

    .Logo p {
        font-size: 1.8rem;
        padding-top: 4px;
    }
}

@media (max-width: 401px) {
    .Logo {
        padding-bottom: 8px;
        width: 220px;
    }

    .Logo p {
        font-size: 1.6rem;
        padding-top: 6px;
    }
}

