.Logo {
    padding-top: 4px;
    overflow: auto;
}

.Logo img {
    height: 42px;
    float: left;
    margin-right: 8px;
}

.Logo p {
    color: #FFEB3B !important;
    font-size: 24px;
    text-shadow: unset;
    float: left;
}

@media (max-width: 787px) {
    .Logo {
        padding-bottom: 8px;
    }
}