.NavBar {
    padding: 8px;
    color: #0E0E0E;
    overflow: hidden;
}

.NavBar a:visited {
    color: #0E0E0E;
}

.NavBarLeft {
    float: left;
}

.NavBarLeft div {
    float: left;
    margin-left: 16px;
    margin-right: 16px;
}

.NavBarRight {
    float: right;
}

.NavBarCenter {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.NavBarRight > div {
    float: right;
    margin-left: 16px;
    margin-right: 16px;
}

.NavWide {
    display: none;
    margin: 0 auto;
}

.NavWide .WideDiv {
    text-align: center;
}

.NavWide .WideDiv a {
    text-decoration: none;
    display: inline-block;
}

.NavNarrow i {
    float: left;
    cursor: pointer;
    color: #0E0E0E;
    padding: 8px;
}

.NavNarrow .NarrowLinks {
    display: none;
}

.NarrowLinks div {
    width: 100%;
    float: left;
}

.NarrowLinks p {
    margin-bottom: 4px;
}

.NavNarrow .NarrowLinks a {
    text-decoration: none;
    display: block;
    float: left;
    clear: left;
    padding: 0.5em 0;
}

.LinkRow, .LinkRowPad {
    border-top: 1px solid #0E0E0E;
    height: 60px;
}

.LinkRowPad {
    padding-top: 10px;
}

@media (min-width: 9000px) {
    .NavWide {
        display: block;
    }
    .NavNarrow {
        display: none;
    }
}

@media (max-width: 417px) {
    .NavBarCenter {
        width: auto;
    }
}

