.Disclaimer {
    text-align: left;
    max-width: 600px;
    margin: auto;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 0.9rem;
}

.Disclaimer i {
    margin-top: 23px;
    margin-right: 8px;
}

.Disclaimer button {
    margin-top: 32px;
}

.Message div {
    margin-bottom: 16px;
}

.Disclaimer input {
    margin-top: 5px;
    margin-right: 8px;
}