.List {
    background: #F7F7F7;
    max-width: 1100px;
    margin: auto;
    padding: 32px;
    margin-bottom: 64px;
}

.LoadingPlaceholder {
    text-align: center;
    margin-top: 64px;
}

.QuestionCol {
    padding-right: 64px;
    width: 80%;
    float: left;
    text-align: left;
}

.ExpiredCol {
    width: 10%;
    float: left;
}

.ResolutionCol {
    width: 10%;
    float: left;
}

.TableHeader {
    overflow: hidden;
    border-bottom: 1px solid black;
    padding-bottom: 16px;
    font-size: 0.9em;
    color: #aaaaaa;
}

.Row {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #444;
    overflow: auto;
    min-height: 81px;
}

@media (max-width: 680px) {
    .QuestionCol {
        width: 60%;
        padding-right: 4px;
    }

    .ExpiredCol {
        width: 20%;
    }

    .ResolutionCol {
        width: 20%;
    }
}
