.Row {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #444;
    overflow: auto;
    min-height: 81px;
}

.QuestionCol {
    padding-right: 64px;
    width: 80%;
    float: left;
}

.ExpiredCol {
    width: 10%;
    float: left;
}

.ResolutionCol {
    width: 10%;
    float: left;
}
