.List {
    max-width: 430px;
    margin: auto;
    margin-bottom: 64px;
    overflow: auto;
    background: #FFFFFF;
}

.LoadingPlaceholder {
    text-align: center;
    margin-top: 64px;
}

.QuestionCol {
    float: left;
    text-align: left;
    display: table;
    min-height: 60px;
}

.QuestionCol p {
    display: table-cell;
    vertical-align: middle;
}

.ExpiredCol {
    color: #19BA0C;
}

.ResolutionCol {
    border: 1px solid #19BA0C;
    color: #19BA0C;
}

.ExpiredFalseCol {
    color: #E25E5E;
}

.ResolutionFalseCol {
    border: 1px solid #E25E5E;
    color: #E25E5E;
}

.ExpiredCol, .ExpiredFalseCol {
    font-size: 1rem;
    font-weight: 500;
}

.ResolutionCol, .ResolutionFalseCol {
    font-size: 0.75rem;
    font-weight: 500;
}

.ExpiredCol, .ResolutionCol, .ExpiredFalseCol, .ResolutionFalseCol {
    text-transform: capitalize;
    text-align: center;
    padding: 4px 16px;
    border-radius: 16px;
}

.ExpiredCol > p, .ResolutionCol > p, .ExpiredFalseCol > p, .ResolutionFalseCol > p {
    height: 16px;
}

.Row {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 2px solid #F2F2F2;
    overflow: auto;
    min-height: 8px;
}

.Title {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 32px 0 32px 16px;
    border-bottom: 2px solid #F2F2F2;
}

.SeeMore {
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
    font-weight: 500;
    width: 100px;
    margin: auto;
}

.LeftPanel {
    float: left;
    margin: 0 16px;
}

.RightPanel {
    float: right;
    max-width: 300px;
    margin-right: 16px;
    font-size: 0.75rem;
    font-weight: 500;
}

@media (max-width: 782px) {
    .TableHeader > div:first-child {
        width: 60%;
    }

    .TableHeader div {
        width: 20%;
    }

    .QuestionCol {
        width: 60%;
    }

    .ExpiredCol {
        width: 20%;
    }

    .ResolutionCol {
        width: 20%;
    }
}

@media (max-width: 782px) {
    .TableHeader > div:first-child {
        width: 50%;
    }

    .TableHeader div {
        width: 25%;
    }

    .QuestionCol {
        padding-right: 4px;
        width: 50%;
    }

    .ExpiredCol {
        width: 25%;
    }

    .ResolutionCol {
        width: 25%;
    }
}
