.Card {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, .12), 0 4px 8px 0 rgba(0, 0, 0, .42);
    background: #FFFFFF;
    margin: 16px 0;
    text-align: left;
    max-width: 644px;
}

.Card:hover {
    cursor: pointer;
}

.Market {
}

.Expires {
    text-align: left;
    color: #E25E5E;
    font-size: 0.75rem;
    margin-bottom: 8px;
}

.Expires label {
    text-transform: uppercase;
    font-weight: 700;
}

.Question p {
    margin: 8px 0 0 0;
    text-align: left;
    font-size: 1rem;
    font-weight: 700;
    color: #484848;
}

.Question {
    min-height: 76px;
}

.Market label {
    margin-bottom: 0;
    font-weight: 700;
}

.Separator {

}

.LeftPanel {
    float: left;
    max-width: 450px;
    padding: 16px;
    min-height: 176px;
}

.LeftPanel label {
    margin-top: 16px;
}

.RightPanel {
    width: 130px;
    float: right;
    padding: 16px;
    border-left: 2px solid #eeeeee;
}

.RightPanel label {
    color: #9D9D9D;
    font-size: 0.75rem;
}

.RightPanel p {
    color: #19BA0C;
    font-size: 1rem;
    font-weight: 500;
}

@media (max-width: 680px) {
    .QuestionCol {
        width: 60%;
        padding-right: 4px;
    }

    .ExpiredCol {
        width: 20%;
    }

    .ResolutionCol {
        width: 20%;
    }
}

@media (max-width: 870px) {
    .Card {
        margin-bottom: 16px;
    }

    .LeftPanel {
        width: 100%;
        border-right: 0;
        border-bottom: 2px solid white;
        padding-right: 0;
        padding-bottom: 16px;
    }

    .RightPanel {
        width: 100%;
        float: left;
        padding-left: 0;
    }

    .Market label {
        margin-top: 12px;
        margin-right: 4px;
    }

    .RightPanel > div {
        float: left;
        width: 33%;
        text-align: center;
    }
}
