.Card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.42);
    color: white;
    background: #0E0E0E;
    margin: 0 auto 16px auto;
    padding: 16px;
    max-width: 800px;
    border-radius: 4px;
    text-align: left;
}

.Card:hover {
    cursor: pointer;
}

.Market {
}

.Expires {
    text-align: left;
}

.Question h1 {
    margin: 0;
    text-align: left;
}

.Question {
    min-height: 114px;
}

.Market label {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 700;
}

.Market p {
    font-size: 1.4rem;
    color: #FFEB3B;
}

.Separator {

}

.LeftPanel {
    float: left;
    width: 75%;
    border-right: 2px solid white;
    padding-right: 32px;
}

.LeftPanel label {
    margin-top: 16px;
}

.RightPanel {
    width: 25%;
    float: right;
    padding-left: 32px;
}


@media (max-width: 680px) {
    .QuestionCol {
        width: 60%;
        padding-right: 4px;
    }

    .ExpiredCol {
        width: 20%;
    }

    .ResolutionCol {
        width: 20%;
    }
}

@media (max-width: 870px) {
    .Card {
        margin-bottom: 16px;
    }

    .LeftPanel {
        width: 100%;
        border-right: 0;
        border-bottom: 2px solid white;
        padding-right: 0;
        padding-bottom: 16px;
    }

    .RightPanel {
        width: 100%;
        float: left;
        padding-left: 0;
    }

    .Market label {
        margin-top: 12px;
        margin-right: 4px;
    }

    .RightPanel > div {
        float: left;
        width: 33%;
        text-align: center;
    }
}
