.List {
    margin-top: 32px;
    margin-bottom: 64px;
    padding-left: 32px;
    padding-right: 32px;
}

.Title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.LoadingPlaceholder {
    text-align: center;
    margin-top: 64px;
}

@media (max-width: 517px) {
    .List {
        padding-left: 16px;
        padding-right: 16px;
    }
}