.WelcomeContainer {
    margin-top: 64px;
    margin-bottom: 64px;
    text-align: left;
    overflow: auto;
    max-width: 200px;
    float: left;
}

.VeoPrice > div {
    overflow: auto;
    float: left;
}

.VeoPrice img {
    height: 32px;
    float: left;
}

.VeoPrice p {
    height: 32px;
    margin-left: 4px;
    margin-top: 2px;
    font-size: 16px;
    font-weight: bold;
}

.Welcome {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 527px) {
    .VeoPrice {
        overflow: auto;
        text-align: center;
        margin: auto;
        width: 180px;
    }

    .WelcomeContainer {
        text-align: center;
        float: none;
        margin: 32px auto;
    }
}
