.WelcomeContainer {
    margin-top: 64px;
    margin-bottom: 64px;
    margin-left: 32px;
    text-align: left;
    overflow: auto;
}

.VeoPrice > div {
    overflow: auto;
    float: left;
}

.VeoPrice img {
    height: 32px;
    float: left;
}

.VeoPrice p {
    height: 32px;
    margin-left: 4px;
    margin-top: 2px;
    font-size: 16px;
    font-weight: bold;
}

.Welcome {
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
}
