.DetailsContainer {
    overflow: auto;
    margin-bottom: 256px;
    width: 100%;
}

.PanelLeft {
    padding-left: 32px;
    width: calc(100% - 430px);
    float: left;
    padding-right: 32px;
    background: url('https://res.cloudinary.com/klowdstore/image/upload/v1550097457/background-circles_kbtxw6.png') no-repeat;
    background-position-y: -150px;
    background-size: contain;
}

.PanelRight {
    float: right;
}

@media (max-width: 964px) {
    .PanelLeft {
        width: 100%;
        padding-bottom: 32px;
    }

    .PanelRight {
        width: 100%;
    }
}