.DetailsContainer {
    margin-top: 64px;
    padding-left: 32px;
    padding-right: 32px;
}

.DetailInfo {
    margin-bottom: 32px;
}

.PanelLeft {
    width: 50%;
    float: left;
    padding-right: 32px;
}

.PanelRight {
    width: 50%;
    float: right;
}

.DetailCard {

}

.Orders {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.OrderRow {
    border-top: 1px solid black;
    padding-top: 8px;
    padding-bottom: 8px;
}

.Advanced {

}

.OrderType {
    overflow: auto;
    width: 216px;
    margin: auto;
    text-align: center;
}

.OrderType div {
    width: 100px;
}

.OrderType div:hover {
    border: 1px solid black;
    border-radius: 4px;
    background: #FCFCFC;
    cursor: pointer;
}

.OrderTypeSelectedToggle {
    border: 1px solid black;
    border-radius: 4px;
}

.BuySellToggle {
    overflow: auto;
    width: 400px;
    margin: auto;
    text-align: center;
    padding: 16px;
    font-size: 1.2rem;
    margin-top: 16px;
}

.BuySellToggle div {
    width: 50%;
}

.BuySellToggle div:hover {
    border: 1px solid;
    background: #FCFCFC;
    cursor: pointer;
}

.BuySellSelectedToggle {
    background: #FCFCFC;
    border: 1px solid;
}

.OrderForm {
    overflow: auto;
    width: 400px;
    margin: auto;
    padding: 32px;
}

.OrderForm div {
    padding: 8px;
    overflow: auto;
}

.OrderForm input {
    height: 32px;
}

.OrderFormButton {
    margin: auto;
    width: 164px;
    margin-top: 16px;
}

.OrderFormButton button {
    width: 100%;
}

.PayoutCalculator {
    text-align: center;
}

.OrderContainer {
    border: 1px solid;
    margin: 16px;
}

@media (max-width: 510px) {
    .OrderForm {
        width: auto;
    }

    .BuySellToggle {
        width: auto;
    }


}

@media (max-width: 900px) {
    .PanelLeft {
        width: 100%;
        padding-right: 0px;
        padding-bottom: 32px;
    }

    .PanelRight {
        width: 100%;
    }

}