.DetailsContainer {
    overflow: auto;
    margin-top: 64px;
    margin-bottom: 256px;
    padding-left: 32px;
    padding-right: 32px;

}

.DetailInfo {
    margin-bottom: 32px;
}

.PanelLeft {
    width: 50%;
    float: left;
    padding-right: 32px;
}

.PanelRight {
    width: 50%;
    float: right;
}

@media (max-width: 900px) {
    .PanelLeft {
        width: 100%;
        padding-right: 0px;
        padding-bottom: 32px;
    }

    .PanelRight {
        width: 100%;
    }
}