.DetailsContainer {
    margin-top: 64px;
    padding-left: 32px;
    padding-right: 32px;
}

.DetailInfo {
    margin-bottom: 32px;
}

.PanelLeft {
    width: 50%;
    float: left;
    padding-right: 32px;
}

.PanelRight {
    width: 50%;
    float: right;
}

.DetailCard {

}

.Orders {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.OrderRow {
    border-top: 1px solid black;
    padding-top: 8px;
    padding-bottom: 8px;
}

.Advanced {

}

.OrderType {

}

.BuySellToggle {

}

.OrderForm {

}

.PayoutCalculator {

}
