.Orders {
    text-align: center;
    margin-top: 64px;
    margin-bottom: 64px;
}

.OrderRow {
    border-bottom: 1px solid black;
    line-height: 60px;
    height: 60px;
    font-size: 0.9rem;
}

.OrderRow div {
    float: left;
    width: 25%;
}

.OrderRow button {
    font-size: 0.8rem;
}

.OrderContainer {

}

.OrderRows > div:nth-child(even) {
    background: #f3f3f3;
}

.OrderHeader {
    overflow: auto;
    border-bottom: 1px solid black;
}

.OrderHeader div {
    float: left;
    width: 25%;
    font-weight: bold;
}

.Error {
    text-align: center;
    color: #dc3545;
    margin-bottom: 16px;
}

.Long {
    /*border: 1px solid #5cb85c !important;*/

}

.Short {
    /*border: 1px solid #dc3545 !important;*/
}
