.Orders {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.OrderRow {
    border-top: 1px solid black;
    line-height: 60px;
    height: 60px;
}

.OrderRow div {
    float: left;
    width: 25%;
}

.OrderContainer {

}

.OrderHeader {
    overflow: auto;
}

.OrderHeader div {
    float: left;
    width: 25%;
    font-weight: bold;
}

.Error {
    text-align: center;
    color: #dc3545;
    margin-bottom: 16px;
}