.Orders {
    margin: auto;
    text-align: center;
}

.OrderRow, .OrderRow5 {
    border-top: 1px solid black;
    line-height: 60px;
    height: 60px;
    font-size: 0.9rem;
    white-space: nowrap;
}

.OrderRow div, .OrderRow5 div {
    float: left;
}

.OrderRow div {
    width: 25%;
}

.OrderRow5 div {
    width: 20%;
}

.OrderRow button {
    font-size: 0.8rem;
}

.OrderRowBlank {
    line-height: 60px;
    height: 60px;
    font-size: 0.9rem;
}

.OrderContainer {

}

.OrderRows5 {
    max-height: 300px;
    overflow-y: scroll;
}

.OrderRows > div:nth-child(even), .OrderRows5 > div:nth-child(even) {
    background: #f3f3f3;
}

.OrderHeader, .OrderHeaderSpacer, .OrderHeader5, .OrderHeaderSpacer5 {
    overflow: auto;
}

.OrderHeaderSpacer, .OrderHeaderSpacer5 {
    padding-right: 14px;
}

.OrderHeader div, .OrderHeaderSpacer div {
    float: left;
    width: 25%;
    font-weight: bold;
}

.OrderHeader div, .OrderHeader5 div {
    float: left;
    font-weight: bold;
}

.OrderHeader div{
    width: 25%;
}

.OrderHeader5 div {
    width: 20%;
}

.MarketColumn {
    overflow: hidden;
    text-overflow: ellipsis;
}

.Error {
    text-align: center;
    color: #dc3545;
    margin-bottom: 16px;
}

.Long {
    color: #5cb85c;

}

.Short {
    color: #dc3545;
}

.Filled {
    width: 100% !important;
    font-size: 0.8rem;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}