.Orders {
    text-align: center;
    margin-top: 64px;
    margin-bottom: 64px;
}

.OrderRow {
    border-bottom: 1px solid black;
    line-height: 60px;
    height: 60px;
    font-size: 0.9rem;
}

.OrderRow div {
    float: left;
    width: 25%;
}

.OrderRow button {
    font-size: 0.8rem;
}

.OrderRowBlank {
    border-top: 1px solid black;
    line-height: 60px;
    height: 60px;
    font-size: 0.9rem;
}

.OrderContainer {

}

.OrderRows {
    max-height: 300px;
    overflow-y: scroll;
}

.OrderRows > div:nth-child(even) {
    background: #f3f3f3;
}

.OrderHeader, .OrderHeaderSpacer {
    overflow: auto;
    border-bottom: 1px solid black;
}

.OrderHeaderSpacer {
    padding-right: 14px;
}

.OrderHeader div, .OrderHeaderSpacer div {
    float: left;
    width: 25%;
    font-weight: bold;
}

.OrderHeader div {
    float: left;
    width: 25%;
    font-weight: bold;
}

.Error {
    text-align: center;
    color: #dc3545;
    margin-bottom: 16px;
}

.Long {
    color: #5cb85c;

}

.Short {
    color: #dc3545;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
