.DarkCalculator {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .42);
    color: white;
    background: #0E0E0E;
    margin: 32px auto;
    padding: 16px;
    max-width: 420px;
    border-radius: 4px;
}

.Calculator {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .42);
    background: white;
    margin: 0 auto 16px auto;
    padding: 16px 32px;
    text-align: center;
    max-width: 464px;
}

.BinaryContainer, .ScalarContainer {
    text-align: left;
    margin: auto;
    overflow: auto;
}

.ScalarContainer input {
    width: 100%;
}

.ScalarContainer .LeftColumn, .ScalarContainer .RightColumn {
    width: 50%;
}

.ScalarContainer .RightColumn {
    padding-left: 16px;
}

.BinaryContainer {
    width: 260px;
}

.Container div, .ScalarContainer div {
    overflow: auto;
}

.LeftColumn {
    padding-right: 16px;
    float: left;
}

.RightColumn {
    float: right;
}

.Header {

}

.PanelTitle {
    font-weight: 500;
    line-height: 44px;
    margin-top: -16px;
}

.Header p {
    font-size: 0.7rem;
    color: #bbb;
}

.Header p:first-child {
    font-size: 1rem;
    color: #fff;
}

.TargetPrice {
    font-size: 1.2rem;
    text-align: center;
}

.Title {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
}

.Profit, .Loss {
    font-size: 0.8rem;
}

.Profit {
    color: #5cb85c;
}

.Loss {
    color: #dc3545;
}