.Calculator {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .42);
    color: white;
    background: #0E0E0E;
    margin: 32px auto;
    padding: 16px;
    max-width: 420px;
    border-radius: 4px;
}

.Calculator table {
    text-align: left;
    margin: auto;
}

.LeftColumn {
    padding-right: 16px;
}
