.Footer {
    background: #0E0E0E;
    position: absolute;
    width: 100%;
    min-height: 400px;
    color: white;
    text-align: left;
    padding-bottom: 32px;
}

.Footer a {
    color: #69c;
}

.Footer a:hover {
    color: #98caff;
}

.Heading {
    color: #a0a0a0;
    font-size: 15px;
    margin-bottom: 8px;
}

.Footer ul {
    list-style-type: none;
    padding: 0;
}

.Brand {
    width: 45%;
    float: left;
    margin-top: 64px;
}

.Brand > div {
    margin: auto;
}

.Links {
    width: 30%;
    float: left;
    margin-top: 32px
}

.Info {
    width: 25%;
    float: left;
    margin-top: 32px
}

.Legalese {
    text-align: center;
    margin-left: -32px !important;
}

@media (max-width: 800px) {
    .Brand {
        width: 100%;
        margin-top: 64px;
    }

    .Links {
        width: 50%;
        float: left;
        margin-top: 32px;
        padding-left: 32px;
    }

    .Info {
        width: 50%;
        float: left;
        margin-top: 32px;
        padding-left: 32px;
    }

}

@media (max-width: 517px) {
    .Legalese {
        margin-left: 0 !important;
    }
}
