.Container {

}

.Title {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #707070;
    margin-top: 16px;
}

.Form {

}

.Error {
    text-align: center;
    color: #dc3545;
}

.Cta {
    margin: 0 8px;
}

.InputText {
    margin-bottom: 16px;
}

.InputText input {
    width: 300px;
    height: 40px;
    margin: 16px;
    padding: 0 16px;
    border: 1px solid #707070;
}
.Button {
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .42);
    background: #0E0E0E;
    color: #FFFFFF;
    border-radius: 16px;
    font-size: 1rem;
    height: 40px;
    padding: 0 16px;
    width: 160px;
}

.Button:hover {
    color: #FDD835;
}

.Close {
    cursor: pointer;
    width: 40px;
    height: 40px;
    float: right;
    color: white;
    background: black;
    border-radius: 100%;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -12px;
    margin-right: -12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .42);
}

.Onboarding {
    background: rgba(0, 0, 0, 0.8);
    padding-top: 192px;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 3;
}

.Popup {
    background: #ffffff;
    margin: auto;
    padding: 32px;
    margin-bottom: 256px;
    width: 400px;
    text-align: center;
    position: relative;
}

