.Container {

}

.Title {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #707070;
    margin-top: 16px;
}

.Form {

}

.Error {
    text-align: center;
    color: #dc3545;
}

.Cta {
    margin: 0 8px;
}

.InputText {
    margin-bottom: 16px;
}

.InputText input {
    width: 300px;
    height: 40px;
    margin: 16px;
    padding: 0 16px;
    border: 1px solid #707070;
}
.Button {
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .42);
    background: #0E0E0E;
    color: #FFFFFF;
    border-radius: 16px;
    font-size: 1rem;
    height: 40px;
    padding: 0 16px;
    width: 160px;
}

.Button:hover {
    color: #FDD835;
}
