.Explainer {
    max-width: 500px;
}

.TopContainer {
    overflow: auto;
}

.Error {
    text-align: center;
    color: #dc3545;
    margin: 0;
    padding: 0 !important;
}

.BottomContainer p {
    text-align: left;
    margin-bottom: 16px;
}

.Skip {
    margin-top: 28px;
    float: right;
    color: #a2a2a2;
    cursor: pointer;
    padding: 4px;
}

.Button {
    margin: 16px
}

.Button button {
    height: 40px;
    color: #fff;
    background-color: #5cb85c;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding: 0 12px;
}

.Button button:hover {
    background-color: #419641;
    border-color: #398439;
}