.Title {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #707070;
}

.Explainer {
    max-width: 500px;
}

.TopContainer {
    overflow: auto;
}

.Error {
    text-align: center;
    color: #dc3545;
    margin: 0;
    padding: 0 !important;
}

.BottomContainer p {
    text-align: left;
    margin-bottom: 16px;
}

.Skip {
    margin-top: 28px;
    float: right;
    color: #a2a2a2;
    cursor: pointer;
    padding: 4px;
}

.ButtonContainer {
    margin-top: 32px;
    margin-bottom: 32px;
}

.Button {
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .42);
    background: #0E0E0E;
    color: #FFFFFF;
    border-radius: 16px;
    font-size: 1rem;
    height: 40px;
    padding: 0 16px;
    width: 160px;
}

.Button:hover {
    color: #FDD835;
}

.Explainer a {
    color: #1CBB0F;
}