.Wallet {

}

.Wallet img {
    height: 64px;
    width: 64px;
}

.Title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 16px;
    text-transform: uppercase;
}

.Body {
    font-size: 1rem;
    margin-bottom: 16px;
    line-height: 24px;
    padding: 0 16px;
}

.Wallet a {
    color: #1CBB0F;
    font-weight: 700;
}
