.ChannelPending {
    max-width: 400px;
    text-align: center;
    margin: 32px auto;
    background-color: #f5f5f5;
    padding: 16px;
}

.ChannelSuccess {
    margin: auto;
    text-align: center;
    max-width: 400px;
    margin-top: 32px;
}

@media (max-width: 400px) {
    .ChannelPending {
        border-radius: 0;
    }

    .ChannelSuccess > div {
        border-radius: 0;
    }
}
